/*
  Learn more:
  https://www.sanity.io/guides/how-to-brand-your-studio
*/

/* Custom fonts */

  @import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');


:root {
  /* Brand colors */
  
  --brand-primary: hsla(161, 76%, 35%, 1);
  --brand-primary--inverted: hsla(161, 76%, 50%, 1);
  --brand-secondary: hsla(333, 81%, 92%, 1);
  --brand-secondary--inverted: hsla(333, 81%, 57%, 1);
 
  /* Typography */
  
  --font-family-sans-serif: 'Work Sans';
  --font-size-base: 18px;
  --text-color: var(--brand-secondary--inverted);
 
  /* Main Navigation */
  
  --main-navigation-color: var(--brand-secondary);
  --main-navigation-color--inverted: var(--brand-secondary--inverted);
 
}
