/*
  Learn more:
  https://www.sanity.io/guides/how-to-brand-your-studio
*/

/* Custom fonts */

  @import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');


:root {
  /* Brand colors */
  
  --brand-primary: #159d72;
  --brand-primary--inverted: #1fe0a3;
  --brand-secondary: #fbdae9;
  --brand-secondary--inverted: #ea3988;
 
  /* Typography */
  
  --font-family-sans-serif: 'Work Sans';
  --font-size-base: 18px;
  --text-color: var(--brand-secondary--inverted);
 
  /* Main Navigation */
  
  --main-navigation-color: var(--brand-secondary);
  --main-navigation-color--inverted: var(--brand-secondary--inverted);
 
}
